---
layout: page
title: Blog Archive
permalink: /blog/archive/
published: true
---

<!-- Page Content-->

<div class="container">

    <div class="row justify-content-center">

        <!-- Main Column -->
        <div class="col-lg-8">

            <h1 class="my-4">{{ page.title }}</h1>

            <div class="table-responsive">
            <table class="table table-sm table-hover">
                <tbody>
                    {% for post in site.posts %}
                        <tr>
                            <th scope="row" class="thead-light">{{ post.date | date: "%e %B %Y" }}</th>
                            <td><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

            <h1 class="my-4">{{ page.title }}</h1>

            <table class="mx-auto">
                {% for post in site.posts %}
                <tr>
                    <td style="text-align: right; padding: 0.5em">{{ post.date | date: "%e %B %Y" }}</td>
                    <td style="text-align: left; padding: 0.5em"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></td>
                </tr>
                {% endfor %}
            </table>

            <p class="my-4 text-center"><a href="{{ site.baseurl }}/blog/tags/" class="btn btn-outline-primary"><i class="fas fa-tags"></i> Tag Index</a></p>

            <p class="my-4 text-center"><a href="{{ site.baseurl }}/feed.xml" class="card-link btn btn-outline-primary"><i class="fas fa-rss"></i> RSS Feed</a></p>

        </div>

    </div>
</div>
