<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

  <link rel="stylesheet" href="/css/main.css">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@camncoulter" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:image" content="http://www.cncoulter.com{{ page.featured-img }}" />
</head>
