<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

  <link rel="stylesheet" href="/css/main.css">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@camncoulter" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:image" content="{{ site.baseurl }}/{{ page.featured-img }}" />
</head>
