<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

<body>

    {{ content }}

    <!-- Footer -->
    <div class="container">
        <footer class="rounded py-3 px-4 mt-4" style="background-color: #348360;">
            <div class="row">
                <div class="col-sm text-white">
                    <p>&copy; Cam N. Coulter 2019</p>
                </div>
                <div class="col-sm text-sm-right">
                    <p><a class="footer-link" href="{{ site.baseurl }}/about-this-site">about this site</a></p>
                </div>
            </div>
        </footer>
    </div>

    {% include JS-footer.html %}
    {% include analytics.html %}
</body>

</html>
