---
layout: default
---

<!-- Navbar -->
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark rounded static-top" style="background-color: #348360;">
        <a class="navbar-brand d-sm-none" href="{{ site.baseurl }}/">Cam N. Coulter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse  justify-content-center" id="navbarResponsive">
            <ul class="navbar-nav">
                <li><a class="navbar-brand d-none d-sm-block" href="{{ site.baseurl }}/">Cam N. Coulter</a></li>
                <li class="navbar-item">
                    <a href="{{ site.baseurl }}/" class="nav-link">Blog</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ site.baseurl }}/publications" class="nav-link">Publications</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ site.baseurl }}/about" class="nav-link">About</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

{{ content }}
