---
layout: page
---

<!-- Page Content-->
<article>
    <div class="container">

        <div class="row justify-content-center">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h2 class="mt-4">{{ page.title }}</h2>

                <!-- Author -->
                <p class="lead">
                    by Cam N. Coulter
                </p>

                <hr>

                <p class="text-muted font-weight-light">
                    <!-- Date/Time -->
                    <i class="far fa-calendar-alt">
                    </i> Posted on {{ page.date | date: "%B %e, %Y" }}

                    <!-- Post: Categories -->
                    {% if page.categories != empty %}
                    {% for category in page.categories %}
                    <a href="{{ site.baseurl }}/blog/categories#{{ category | url_encode }}" class="badge badge-tag mx-1"><i class="fas fa-folder-open"></i> {{ category }}</a>
                    {% endfor %}
                    {% endif %}
                </p>

                <hr>

                <!-- Featured Image -->
                {% if page.featured-img %}
                    <img src="{{ page.featured-img }}" class="img-fluid mx-auto d-block mb-3" alt="{{ page.alt-text }}" title="{{ page.caption }}"/>
                {% endif %}

                <!-- Post Content -->
                <div class="blogpost">{{ content }}</div>

                <!-- Image Attribution -->
                {% if page.attribution %}
                    <p class="text-muted font-weight-light small">{{ page.attribution }}</p>
                {% endif %}

                <hr>

                <!-- Post Footer: Share on Twitter -->
                <p class="text-center"><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.footer-links.twitter }}" rel="nofollow noopener noreferrer" target="_blank" title="Share on Twitter" class="btn btn-outline-primary btn-sm"><i class="fab fa-twitter"></i> Share on Twitter</a>
                </p>

                <!-- Post Footer: Tags -->
                {% if page.tags != empty %}
                <p class="text-center">
                    {% for tag in page.tags %}
                    <a href="{{ site.baseurl }}/blog/tags#{{ tag | url_encode }}" class="badge badge-tag m-1"><i class="fas fa-tag"></i> {{ tag }}</a>
                    {% endfor %}
                </p>
                {% endif %}

            </div>

        </div>

    </div>
</article>
